<!-- /views/four_five.erb -->

<html>
  <head>
    <title>Dice Roll four five</title>
  </head>
  <body>
  <h2>5d4</h2>
  <ul>
    <% @rolls.each do |a_roll| %>
      <li> <%= a_roll %> </li>
    <% end %>
  </ul>
  </body>
<html>
